.main_Container{
	display: flex;
	justify-content: space-between;
	padding: 0px 6%;
    width: 100%;
    flex-direction: row;
	background-color:white;

}
.row_container{
	display: flex;
	flex-direction: row;
}
.Dropdown{
	// position: absolute;
    // right: 6%;
    width: 120px;
    border: 1px solid lightgrey;
	text-align: center;
	a {
		// padding: 0px 1.5rem !important;
		font-size: 13.5px;
		color: #42642f !important;
		padding-right: 50px;

		&:after{
			position: absolute !important;
			right: 15px !important;
			font-size: 20px !important;
			top: 14px !important;
		}
	}
	
}
.Dropdown_Item{
	font-weight: bold;
	padding: .25rem 1.5rem;
	color: #663399 !important;
	margin-bottom: 0px;
	width: 250px
}
.divider{
	margin: 2px;
}
.type1{
	margin: .25rem 0px;
}
.column {
	float: left;
	display: flex;
	width: 26%;
	border: 1px solid transparent;
	border-radius: 10px;
  }
  .column:hover {
	float: left;
	display: flex;
	width: 26%;
	border: dashed 1px #60b0e2;
	border-radius: 10px;
  }
  .column_active {
	float: left;
	display: flex;
	width: 39vw;
	margin:auto;
	border: 1px solid transparent;
	border-radius: 10px;
  }
  .column_active:hover {
	float: left;
	display: flex;
	width: 39vw;
	border: dashed 1px #60b0e2;
	border-radius: 10px;
}
.card {
	padding: 0px 10px;
	width: 100%;
	text-align: center;
	padding: 40px;
}
.card_active {
	width: 46%;
	text-align: center;
	margin-left: 10px;
}
.card1 {
	padding: 10px;
	margin-left: -5px;
	text-align: center;
}
.card1_active {
	width: 50%;
    padding: 20px;
    height: 25.9vw;
	margin: 24px 0px 0px -5px;
	background-color: #e0d1f0;
	border-radius: 0px 5px 5px 0px;
}
.tm_content{
	margin-top: 15px;
	font-size: 13px;
}
.tm_image{
	width: 100%;
	height: auto;
	margin-top: 20px;
	cursor: pointer;
	padding: 5px;
}
.tm_image:focus{
	width: 100%;
	// height: auto;
	margin-top: 20px;
	cursor: pointer;
}
.tm_details{
	text-align: center;
}
.closeBtn{
	float: right;
    outline: none;
    background: transparent;
    font-size: 15px;
    border: none;
    margin-top: -15px;
    margin-right: -10px;
}
.closeBtn:focus{
	outline: none;
	background: transparent;
	font-size: 15px;
	border: none;
}
.personname{
	font-size: 16px;
    font-weight: bold;
    color: #42642f;
	margin-top: 10px;
	margin-bottom: 2px;
}
.designation{
	margin-bottom: 4px;
	font-size: 13px;
}

@media screen and (min-width: 1025px) and (max-width: 1345px) {
	.card {
		padding: 0px 10px !important;
		width: 100%;
		text-align: center;
		padding: 0px ;
	}
	.card_active {
		width: 64%;
		text-align: center;
		margin-left: 10px;
	}
	.card1_active {
		width: 50%;
		padding: 20px;
		height: 30.6vw;
		margin: 24px 0px 0px -5px;
		background-color: #e0d1f0;
		border-radius: 0px 5px 5px 0px;
		overflow: scroll;
	}
	.card1_active::-webkit-scrollbar {
		display: none;
	}

	.tm_content{
		margin-top: 15px;
		font-size: 13px;
	}
}
@media screen and (min-width: 820px) and (max-width: 1024px) {
	.column {
		float: left;
		display: flex;
		width: 26%;
	}
	.column:hover {
		float: left;
		display: flex;
		width: 26%;
		border: dashed 1px #60b0e2;
		border-radius: 10px;
	}
	.column_active {
		float: left;
		display: flex;
		width: 48%;
	}
	.column_active:hover {
		float: left;
		display: flex;
		width: 48%;
		border: dashed 1px #60b0e2;
		border-radius: 10px;
	}
	.card {
		padding: 0px 10px;
		width: 100%;
		text-align: center;
	}
	.card_active {
		width: 50%;
		text-align: center;
	}
	.card1 {
		padding: 10px;
		margin-left: -5px;
		text-align: center;
	}
	.card1_active {
		width: 50%;
		padding: 20px;
		height: 31.7vw;
		margin: 25px 0px 0px -5px;
		background-color: #e0d1f0;
		border-radius: 0px 5px 5px 0px;
		overflow: scroll;
	}
	.card1_active::-webkit-scrollbar {
		display: none;
	}
	.tm_content{
		margin-top: 0px;
		font-size: 12px;
	}
}
@media screen and (min-width: 601px) and (max-width:  819px) {
	.column {
		float: left;
		display: flex;
		width: 33%;
	}
	.card {
		padding: 0px 10px !important;
		width: 100%;
		text-align: center;
		//  padding: 0px;
	}
	.column:hover {
		float: left;
		display: flex;
		width: 33%;
		border: dashed 1px #60b0e2;
		border-radius: 10px;
	}
	.column_active {
		float: left;
		display: flex;
		width: 66%;
	}
	.column_active:hover {
		float: left;
		display: flex;
		width: 66%;
		border: dashed 1px #60b0e2;
		border-radius: 10px;
	}
	.card_active {
		width: 46%;
		text-align: center;

	}
	.card1_active {
		width: 50%;
		padding: 20px;
		height: 34.5vw;
		margin: 25px 0px 0px -5px;
		background-color: #e0d1f0;
		border-radius: 0px 5px 5px 0px;
		overflow: scroll;
	}
	.card1_active::-webkit-scrollbar {
		display: none;
	}
	.tm_content{
		margin-top: 0px;
		font-size: 12px;
	}

}


@media only screen and (max-width:600px){
  
	.card {
		padding: 0px 10px !important;
		width: 100%;
		text-align: center;
	}
	.tm_content{
		margin-top: 3px !important;
		font-size: 10px;
		text-align: justify;
		margin-bottom: 5px;;
	}
	.column {
		float: left;
		display: flex;
		width: 50%;
	}
	.column:hover {
		float: left;
		display: flex;
		width: 50%;
		border: dashed 1px #60b0e2;
		border-radius: 10px;
	}
	.column_active {
		float: left;
		display: flex;
		width: 100%;
	}
	.column_active:hover {
		float: left;
		display: flex;
		width: 100%;
		border: dashed 1px #60b0e2;
		border-radius: 10px;
	}
	.card1_active {
		width: 50%;
		padding: 10px;
		height: 58.5vw;
		margin: 25px 0px 0px -5px;
		background-color: #c7d9be;
		border-radius: 0px 5px 5px 0px;
		overflow: scroll;
	}
	.card1_active::-webkit-scrollbar {
		display: none !important;
	}
	.closeBtn {
		margin-top: -7px !important;
		margin-right: 0px !important;
	}
}

